# Firebase config files (MUST NOT be committed)
google-services.json
GoogleService-Info.plist
serviceAccountKey.json

# Dependencies
/node_modules
/.pub-cache
/packages
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Build
/build
/ios/Flutter/Flutter.podspec
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.xcframework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Flutter/app.flutterapp

# Coverage
/coverage

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
